<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sub_option.title %>
</p>

<p>
  <strong>Question:</strong>
  <%= @sub_option.question %>
</p>

<%= link_to 'Edit', edit_sub_option_path(@sub_option) %> |
<%= link_to 'Back', sub_options_path %>
