<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @result.content %>
</p>

<p>
  <strong>Question:</strong>
  <%= @result.question %>
</p>

<p>
  <strong>Paper:</strong>
  <%= @result.paper %>
</p>

<p>
  <strong>User:</strong>
  <%= @result.user %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
